@font-face {
  font-family: "iconfont"; /* Project id 2536352 */
  src: url('iconfont.woff2?t=1620581200770') format('woff2'),
       url('iconfont.woff?t=1620581200770') format('woff'),
       url('iconfont.ttf?t=1620581200770') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soushuo:before {
  content: "\e600";
}

.icon-chahao:before {
  content: "\e614";
}

